.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.95rem;
  padding: 0 10px;
}
/* DESKTOP: ajustes para pantallas grandes */
@media (min-width: 769px) {
  .footer {
    height: 4rem;
    font-size: 1.1rem;
    padding: 0 30px;
  }
}