.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
