@import "tailwindcss";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"; 


html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
